body { 
        background-color: rgb(191, 234, 240);
        font-family: Arial, sans-serif;
        margin: 0; padding: 0;
     }

header {
    background-color: #ff0000;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #0815ff;
    color: #fff;
    padding: 10px 0; 
    text-align: center;
}
nav a {
    color: #fff;
    padding: 10px 20px;
}
nav a:hover {
    background-color: #fff;
    color: #3700ff;
}
section {
    padding: 25px;
}
footer {
    background-color: #3700ff;
    color: #fff;
    text-align: center;
    padding: 2px;position: auto;width: 100%;
}
